<div class="container">
    <div class="row">
        <div class="col-2 mb-2">{{inPerson.id}}</div>
        <div class="col-2 mb-2">{{inPerson.firstname}}</div>
        <div class="col-2 mb-2">{{inPerson.lastname}}</div>
        <div class="col-2 mb-2">{{inPerson.phone}}</div>
       
        <div class="col-2 mb-2" ><button class="btn btn-primary" (click)="showEdit()">{{addEdit}}</button></div>
        <div class="col-2"><button class="btn btn-danger" (click)="onDeletePerson(inPerson)">Удалить</button></div>
        
        <div class="row" *ngIf=isEdit>
            <div class="col-4 mb-2">
                <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="inPerson.firstname">
            </div>
            <div class="col-4 mb-2">
                <input type="text" class="form-control" placeholder="Фамилия" [(ngModel)]="inPerson.lastname">
            </div>
            <br>
        </div>
    </div>
</div>

