<div class="container">
    <form [formGroup]="personForm">
        <div class="row">
            <div class="col-12">
                 <h6>Введите имя</h6>
                <input type="text" class="form-control" placeholder="Имя" formControlName="firstName" #inputFirstName>
            </div>
            <div class="col-12 mt-2">
                <h6>Введите фамилию</h6>
                <input type="text" class="form-control" placeholder="Фамилия" formControlName="lastName" #inputLastName>
            </div>
            <div class="col-12 mt-2">
                <h6>Введите номер телефона</h6>
                <input [textMask]="{mask: mask}" type="text" class="form-control" placeholder="Телефон" formControlName="phone" #inputPhone>
            </div>
            <div class="col-12 mt-2">
                <button type="submit" class="btn btn-success" (click)="onAddPerson(inputFirstName, inputLastName, inputPhone)" [disabled]="personForm.invalid">Сохранить</button>
            </div>
        </div>
    </form>
</div>
